header {
  padding: 10px;
  background-color: rgba(106, 137, 204, 1.0);
}

.sidebarWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav {

}

nav ul {
  list-style-type: none;

  display: flex;
}

nav ul li:not(:last-child) {
  margin-right: 20px;
}
