header {
  padding: 10px;
  background-color: rgba(106, 137, 204, 1.0);
  text-align: center;
  margin-bottom: 30px;
}

main{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main > div:first-child{
  margin-right: 30px;
}
